@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-primaria: #543310;
    --cor-segundaria: #F8F4E1;
    --cor-terciaria: #AF8F6F;
    --cor-hover: #74512D;

    --fonte-primaria: "Krona One", serif;
    --fonte-secundaria: "Montserrat", sans-serif;

}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
    /* height: 100vh; */
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}


.apresentacao {
    padding: 5% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__botoes_titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__botoes__botao {
    padding: 21.5px 0px;
    border-radius: 8px;
    text-align: center;
    width: 378px;
    font-size: 24px;
    text-decoration: none;
    color: var(--cor-segundaria);
    border: solid 2px var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.apresentacao__botoes__botao:hover {
    background-color: var(--cor-hover);
}

.foto__perfil:hover {
    transform: scale(1.2);
}

.foto__perfil {
    transition: 1s;
}

.rodape {
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}